.shop__shoes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    .sneakerCard{
        width: calc(25% - 10px);
        margin-left: 10px;
        margin-top: 10px;
        width: 290px;
        height: 380px;
        text-align: center;

        button {
            width: 100px;
            height: 35px;
            background: none;
            border: 2px solid #6F6F6F;
            margin-left: 20px;
            cursor: pointer;
            transition: .2s ease-in;

            &:hover {
                background-color: #6F6F6F;
                color: #fff;
            }
        }
    }
}